nav {
  float: left;

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;

  .color {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    border: 1px solid gray;
    display: inline-block;
  }
  }
}
