@charset "UTF-8";
html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  background-color: #F5F5F1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  line-height: 1.4; }

header {
  width: 100%;
  background-color: white;
  height: 80px;
  margin-bottom: 25px;
  box-shadow: 0px 0px 10px rgba 176, 176, 176, 1; }

header .headerelements {
  width: 980px;
  margin: 0 auto; }

.leftside {
  float: left;
  display: inline-block;
  margin-left: 11.7%;
  position: relative; }

.leftside img {
  width: 90px;
  float: left;
  padding-top: 15px;
  margin-right: 15px; }

.leftside .searchwrapper {
  display: inline-block;
  position: relative;
  height: 35px;
  width: 330px;
  border-radius: 2px;
  margin-top: 20px; }

.leftside .searchwrapper .searchfield {
  display: inline-block;
  line-height: normal;
  height: 35px;
  width: 250px;
  font-size: 1em;
  padding-left: 5px; }

.leftside .searchwrapper .searchbtn {
  position: absolute;
  background-color: #39A4BE;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  font-weight: 600;
  height: 35px;
  font-size: 1.1em;
  border-radius: 2px; }

.leftside .searchwrapper .searchbtn:hover {
  background-color: #44A9C1; }

.leftside .browsebtn {
  position: relative;
  display: inline-block; }

.leftside .browsebtn .browse {
  position: relative;
  width: 78px;
  color: #746666;
  font-weight: 500;
  padding-left: 0px;
  margin-left: 10px;
  background-color: white;
  border: 1px solid #B2B2B2;
  height: 35px;
  font-size: 1.1em;
  border-radius: 2px; }

.leftside .browsebtn .browse:after {
  content: "▾";
  position: absolute;
  color: #B2B2B2;
  top: 7px;
  right: 3px; }

.rightside {
  float: right;
  display: inline-block;
  margin-right: 11.7%; }

.rightside a {
  text-decoration: none;
  color: #39A4BE;
  font-size: 1.1em; }

.rightside a:hover {
  text-decoration: underline; }

.rightside .signin {
  border: 1px solid #39A4BE;
  color: #39A4BE;
  background-color: white;
  height: 35px;
  font-size: 1.1em;
  border-radius: 2px; }

.rightside .cartcontainer {
  border: none;
  border-left: 1px solid #B2B2B2;
  background-color: white;
  margin-top: 10px; }

.rightside .cartcontainer img {
  display: block;
  color: #555555; }

.rightside .cartcontainer span {
  display: block;
  color: #555555; }

.itemArea {
  width: 980px;
  margin: 0 auto;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }

.itemArea::after {
  clear: both;
  content: "";
  display: table; }

nav {
  float: left;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }

nav:last-child {
  margin-right: 0; }

nav .navheader {
  margin-left: 5px;
  color: #555555;
  font-weight: 800; }

nav ul {
  list-style-type: none;
  border-radius: 5px;
  padding: 15px; }

nav li {
  list-style: none; }

nav a {
  text-decoration: none;
  color: #39A4BE; }

nav .allCategories {
  border: 1.5px solid #E1E3DF;
  background-color: white;
  border-radius: 2px; }

nav .refineSearch {
  border: 1.5px solid #E1E3DF;
  background-color: white;
  border-radius: 2px; }

nav #colorfilt {
  display: block; }

nav .colors {
  margin-top: 3px;
  margin-left: 5px; }

nav .red {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid #CBCCC9;
  display: inline-block;
  background-color: red; }

nav .orange {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid #CBCCC9;
  display: inline-block;
  background-color: orange; }

nav .yellow {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid #CBCCC9;
  display: inline-block;
  background-color: yellow; }

nav .green {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid #CBCCC9;
  display: inline-block;
  background-color: green; }

nav .blue {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid #CBCCC9;
  display: inline-block;
  background-color: blue; }

nav .purple {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid #CBCCC9;
  display: inline-block;
  background-color: purple; }

nav .black {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid #CBCCC9;
  display: inline-block;
  background-color: black; }

nav .white {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid #CBCCC9;
  display: inline-block;
  background-color: white; }

.searchResults {
  float: left;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%; }

.searchResults:last-child {
  margin-right: 0; }

.searchResults a {
  color: #39A4BE;
  text-decoration: none; }

.searchResults .browniesResults {
  font-weight: 600; }

.gridResults .item {
  float: left;
  position: relative; }

.gridResults .itemHolder {
  width: 225px;
  height: 220px;
  background-color: red;
  border: black;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }

.gridResults .itemHolder:last-child {
  margin-right: 0; }

.gridResults .itemHolder:nth-child(3n) {
  margin-right: 0; }

.gridResults .itemHolder:nth-child(3n+1) {
  clear: left; }
