@charset "UTF-8";
html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  background-color: #F5F5F1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.4; }

header {
  width: 100%;
  background-color: white;
  height: 80px;
  margin-bottom: 25px;
  box-shadow: 0px 0px 10px rgba 176, 176, 176, 1; }

header .headerelements {
  width: 980px;
  margin: 0 auto; }

.leftside {
  float: left;
  display: inline-block;
  position: relative; }

.leftside img {
  width: 100px;
  float: left;
  padding-top: 12px;
  margin-right: 15px; }

.leftside .searchwrapper {
  display: inline-block;
  position: relative;
  height: 34px;
  width: 308px;
  border-radius: 5px;
  margin-top: 20px; }

.leftside .searchwrapper .searchfield {
  display: inline-block;
  line-height: normal;
  height: 34px;
  width: 253px;
  font-size: 1em;
  padding-left: 5px;
  background-color: #FBFBFA;
  outline: 0;
  border: 1px solid #bdbdbd;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

.leftside .searchwrapper .searchfield:hover {
  background-color: white;
  border: 1px solid #2AA490; }

.leftside .searchwrapper .searchbtn {
  position: absolute;
  background-color: #3EA9C3;
  border: none;
  height: 34px;
  width: 79px;
  padding: 7px 15px 8px;
  color: white;
  font-weight: 600;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom-color: rgba(0, 0, 0, 0.2);
  border-top-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
  height: 34px;
  font-size: 1.1em;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  clear: right; }

.leftside .searchwrapper .searchbtn:hover {
  background-color: #34A8C4; }

.leftside .browsebtn {
  position: relative;
  display: inline-block; }

.leftside .browsebtn .browse {
  position: relative;
  width: 78px;
  color: #746666;
  font-weight: 500;
  padding-left: 0px;
  margin-left: 37px;
  background-color: white;
  border: 1px solid #EEEEEE;
  height: 34px;
  font-size: 1.1em;
  border-radius: 5px; }

.leftside .browsebtn .browse:after {
  content: "▾";
  position: absolute;
  color: #EEEEEE;
  top: 7px;
  right: 3px; }

.rightside {
  float: right;
  display: inline-block; }

.rightside a {
  text-decoration: none;
  color: #3EA9C3;
  font-size: 1.1em; }

.rightside a:hover {
  text-decoration: underline; }

.rightside .signin {
  border: 1px solid #3EA9C3;
  color: #3EA9C3;
  background-color: white;
  height: 34px;
  font-size: 1.1em;
  border-radius: 5px; }

.rightside .cartcontainer {
  border: none;
  border-left: 1px solid #EEEEEE;
  background-color: white;
  margin-top: 10px; }

.rightside .cartcontainer img {
  display: block;
  -webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  width: 22px; }

.rightside .cartcontainer span {
  display: block;
  color: #555555; }

.itemArea {
  width: 980px;
  margin: 0 auto; }

aside {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }

aside:last-child {
  margin-right: 0; }

aside .allCategories {
  padding: 0 7px 12px 7px;
  margin-bottom: 15px; }

aside .navheader {
  margin-left: 5px;
  color: #555555;
  font-weight: 800;
  line-height: 3em; }

aside ul {
  list-style-type: none;
  border-radius: 5px;
  padding: 0;
  margin: 0 24px; }

aside li {
  list-style: none;
  line-height: 1.8em; }

aside a {
  text-decoration: none;
  color: #3EA9C3; }

aside .allCategories {
  border: 1.5px solid #E1E3DF;
  background-color: white;
  border-radius: 5px; }

aside .refineSearch {
  border: 1.5px solid #E1E3DF;
  background-color: white;
  border-radius: 5px;
  padding: 0 7px 12px 7px;
  margin-bottom: 15px; }

aside .refineSearch input {
  color: #555555;
  font-weight: 800; }

aside #colorfilt {
  display: block; }

aside .colors {
  margin-top: 3px;
  margin-left: 5px; }

aside .red {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid #CBCCC9;
  display: inline-block;
  background-color: red; }

aside .orange {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid #CBCCC9;
  display: inline-block;
  background-color: orange; }

aside .yellow {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid #CBCCC9;
  display: inline-block;
  background-color: yellow; }

aside .green {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid #CBCCC9;
  display: inline-block;
  background-color: green; }

aside .blue {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid #CBCCC9;
  display: inline-block;
  background-color: blue; }

aside .purple {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid #CBCCC9;
  display: inline-block;
  background-color: purple; }

aside .black {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid #CBCCC9;
  display: inline-block;
  background-color: black; }

aside .white {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid #CBCCC9;
  display: inline-block;
  background-color: white; }

.resultsSection {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }

.resultsSection:last-child {
  margin-right: 0; }

.resultsSection .resultsNo {
  float: left; }

.resultsSection .sort {
  float: right;
  text-align: right; }

.resultsSection a {
  color: #3EA9C3;
  text-decoration: none; }

.resultsSection .browniesResults {
  font-weight: 600; }

.gridResults {
  display: block;
  clear: left;
  overflow: hidden; }

.gridResults .itemHolder {
  width: 225px;
  padding: 9px;
  background-color: white;
  border: black;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  position: relative;
  border-radius: 5px; }

.gridResults .itemHolder:last-child {
  margin-right: 0; }

.gridResults .itemHolder:nth-child(3n) {
  margin-right: 0; }

.gridResults .itemHolder:nth-child(3n+1) {
  clear: left; }

.gridResults .itemHolder:hover .hovericons {
  display: block; }

.gridResults .adIcon {
  background-color: rgba(255, 255, 255, 0.8);
  top: 0;
  position: absolute;
  margin-left: 6px;
  margin-top: 6px;
  border-radius: 3px;
  display: inline-block;
  font-size: 80%;
  font-weight: bold;
  line-height: 1;
  min-width: 18px;
  padding: 4px 6px;
  text-align: center; }

.gridResults .hovericons {
  position: absolute;
  right: 8px;
  top: 2px;
  display: none; }

.gridResults .heart {
  float: left;
  padding: 0;
  width: 26px;
  line-height: 23px;
  height: 25px;
  background: #fff; }

.gridResults .browniename {
  color: #555;
  font-size: 12px;
  margin-bottom: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.gridResults .brownieseller a {
  color: #EEEEEE;
  padding-left: 0px;
  font-size: 12px;
  display: inline;
  position: relative;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.relatedTo {
  display: block; }

.pagination {
  display: block; }
